<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!-- <button ion-button class="submit-btn" block (click)="addContact()">Add contact</button> -->
    <div padding>
        <ion-segment [(ngModel)]="productGroup">
            <ion-segment-button value="newest">
                Mới nhất
            </ion-segment-button>
            <ion-segment-button value="bestseller">
                Bán chạy
            </ion-segment-button>
        </ion-segment>
    </div>

    <div [ngSwitch]="productGroup">
        <ion-list *ngSwitchCase="'bestseller'">
            <ion-item *ngFor="let item of items">
                <ion-thumbnail item-start>
                    <img src="assets/imgs/{{item.img}}">
                </ion-thumbnail>
                <h2>{{item.title}}</h2>
            </ion-item>

        </ion-list>

        <ion-list *ngSwitchCase="'newest'">
            <ion-item *ngFor="let item of dataHome.newest">
                <ion-thumbnail item-start>
                    <img src="assets/imgs/{{item.pro_pictures}}" (error)="item.pro_pictures='img_1.jpg'">
                </ion-thumbnail>
                <h2>{{item.pro_name}}</h2>
                <p>{{item.pro_code}}
                    <small style="float:right">{{item.pro_price | currencyVnd}} VND</small>
                </p>
            </ion-item>
        </ion-list>
    </div>
</ion-content>