<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-segment [(ngModel)]="productGroup" (ionChange)="onSegmentChanged($event)">
            <ion-segment-button value="newest">
                Mới nhất
            </ion-segment-button>
            <ion-segment-button value="bestseller">
                Bán chạy
            </ion-segment-button>
            <ion-segment-button value="contactlist">
                Danh bạ
            </ion-segment-button>
        </ion-segment>
        <ion-buttons end>
            <button ion-button icon-only (click)="presentActionSheet()">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div [ngSwitch]="productGroup">
        <ion-item class="center" *ngIf="loading.bestseller">
            <ion-spinner name="bubbles"></ion-spinner>
        </ion-item>
        <ion-list *ngSwitchCase="'bestseller'">
            <ion-item *ngFor="let item of items">
                <ion-thumbnail item-start>
                    <img src="assets/imgs/{{item.img}}">
                </ion-thumbnail>
                <h2>{{item.title}}</h2>
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'newest'">
            <ion-item class="center" *ngIf="loading.newest">
                <ion-spinner name="bubbles"></ion-spinner>
            </ion-item>
            <ion-item *ngFor="let item of dataHome.newest">
                <ion-thumbnail item-start>
                    <img src="assets/imgs/{{item.pro_pictures}}" (error)="item.pro_pictures='img_1.jpg'">
                </ion-thumbnail>
                <h2>{{item.pro_name}}</h2>
                <p>{{item.pro_code}}
                    <small style="float:right">{{item.pro_price | currencyVnd}} VND</small>
                </p>
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'contactlist'">
            <ion-item class="center" *ngIf="loading.contactlist">
                <ion-spinner name="bubbles"></ion-spinner>
            </ion-item>
            <ion-item *ngFor="let item of dataHome.contactlist">
                <h2>{{ item.name.formatted || item.name.givenName || item.displayName }}</h2>
                <p *ngIf="!item.phoneNumbers.length">Empty mobile</p>
                <p *ngIf="!item.phoneNumbers.length > 0">
                    <small *ngFor="let phone of item.phoneNumbers">
                        M: {{ phone.value || '-' }}
                    </small>
                </p>
                <p>E: {{ item.emails[0]['value'] || '-'}}</p>
            </ion-item>
        </ion-list>
    </div>
</ion-content>